
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div > 
        <div > 
           <div > 
              <h1> Register </h1>
           </div></br></br></br> 
              <form action="{{ url_for('register') }}" method="post"> 
                  <input id="username" name="username" type="text" placeholder="Username" /></br>
                  <input id="password" name="password" type="password" placeholder="Password"/> </br>
                  <input id="email" name="email" type="text" placeholder="Email " /></br>
                  <input type="submit" type ="button" value="Sign Up"></br> 
              </form> 
              <p>{{ msg }}</p>
        </div> 
      </div> 
    
    
</body>
</html>